/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: boredr-box;
}

body{
  font-family:'Fredoka', sans-serif;
}

  /* utility */

.debug{
  background-color: rgba(255, 0, 0, .25);
  border: 1px solid black;
}

.clearfix::after{
  content:'';
  display: table;
  clear: both;
}

/* components */

.container{
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* main */

.container .title{
  color: #FF358F;
  padding: 20px;
  text-align: center;
}

.container p{
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 0;
}

.container .row{
  margin: 0 5px;
}

.container .row .col{
  float: left;
  width: calc(90% / 3);
  height: 60px;
  margin: 10px;
  background-color: black;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
}

.col img{
  float: left;
  height: 60px;
  padding-right: 10px;
}

.col span{
  color: white;
  text-align: left;
  font-size: 0.8rem;
  display: block;
  padding-top: 3px;
}

.col .text{
  padding-top: 5px;
}

.text .mail{
  color: rgb(90, 201, 245);
}

.text .job, .mail{
  font-size: 0.6rem;
}

.text .name{
  font-weight: bold;
}