/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: boredr-box;
  }

  /* utility */

.debug{
  background-color: rgba(255, 0, 0, .25);
  border: 1px solid black;
}

/* components */

.container{
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}